.Header
  .Header__logo
    WorldMe
  .Header__box
    .Header__box__left
      %h3.user-name
        = current_user.name
    .Header__box__group-name
      Group of USA news
    .Menu
      %label
        = icon('fas', 'bars')
        %input{type: "checkbox"}
        %ul
          %li 
          = link_to edit_user_path(current_user) do
            編集
          %li
          = link_to "ログアウト", "#"

.Main
  .Main__topic
    = image_tag "publicdomainq-0006760qsh.jpg", alt: "sample image", id: "pic1", class: "image"
    = link_to 'https://www.worldme.com/#'
    %br More than 3,000 people is gathering for a protest demonstration in USA
    = link_to "翻訳", "#"

.MessageField
  .Message__box
    .MessageInfo
      .MessageInfo__userName
        abc
      .MessageInfo__date
        2020年??月??日 ??時??日
    .Message
      .Message__content
        OMG, what is happening?
        %br
        = link_to "翻訳", "#"

    .MessageInfo
      .MessageInfo__userName
        defg
      .MessageInfo__date
        2020年??月??日 ??時??日
    .Message
      .Message__content
        This is happenning now
        %br
        = link_to "翻訳", "#"
.Footer
  .Form
    %form.new_message
      .input-box
        %input{type: "text", class: "input-box__text", placeholder: "type here"}
        %label{class: "input-box__image"}
          = icon('far', 'image')
          %input{type: "file", class: "input-box__image__file"}
      %button{type: "submit", class: "submit"}
        = icon('fas', 'paper-plane')
      
        